@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  -highlight-color: transparent;
}

@font-face {
  font-family: "Widescreen Trial";
  src: url("/fonts/WidescreenEx_Trial_Rg.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.ttf");
  font-weight: medium;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Light.ttf");
  font-weight: 300;
}

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 2px;
  width: 4px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.body__scroll-hiden {
  overflow: hidden;
}

.page {
  @apply min-h-defaultPage pt-headerPage;
}

.container {
  @apply max-w-[1065px]  px-6 xl:px-0 mx-auto;
}

.flex__center {
  @apply flex flex-col justify-center items-center;
}
.flex__between {
  @apply flex justify-between;
}
.header-text__shadow {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7);
}
.loaded-page__animation {
  @apply animate-[appearWithOpacity_600ms_ease-in-out_none];
}
.ra_navbar {
  @apply bg-neutral-900/80 backdrop-blur-[3px];
  @apply bg-primaryColor;
}
