@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 2px;
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.page{
  @apply min-h-defaultPage pt-headerPage
}